.air{
    box-shadow: 0 4px 8px rgb(0,0,0,0.26);
    background-color: rgba(59, 59, 124, 0.4);
    padding: 1em 2em;
    border-radius: 14px;
    font-size: xx-large;
    font-weight: 700;
    color: whitesmoke;
}
@media (max-width:660px){
    .air{
        width: min-content;
        padding: 1em 0.8em;
    }
}